<h2>Admin Portal</h2>

<div class="flagged-articles">
  <h3>Flagged Articles</h3>
  <ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
  </ul>
</div>

<div class="flagged-comments">
  <h3>Flagged Comments</h3>
  <ul>
  <% @comments.each do |comment| %>
    <li><%= link_to comment.body, article_path(comment.article) %></li>
  <% end %>
  </ul>
</div>
