/*header {
  display: grid;
}
*/
body {
  font-family: 'Lato', sans-serif;
  background-color: #292929;
  color: #F15802;
  letter-spacing: 1px;
}

nav {
  float: right;
}

h1 {
  font-family: "Creepster", cursive;
  font-size: 5em;
  width: 100%;
}

h1 a {
  color: #F15802;
  text-decoration: none;
}

h1 a:visited {
  color: #F15802;
}

nav a:hover {
  color: orange;
}

h1 a:hover {
  color: orange;
}

h2, h3, h4 {
  font-family: "Creepster";
}

h2 {
  font-size: 3.25em;
}

h2 a:hover {
  color: orange;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
  margin: 0 auto;
}

a {
  color: #7C10AD;
}

a:hover {
  color: orange;
}

a:visited {
  color: #1BA52C;
}


[class*='col-'] {
  float: left;
}

.col-2-3 {
  /*width: 66.66%;*/


}
.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
}

.category-box h2 {
margin-bottom: 0;
}

header {
  padding-top: 10px;
  padding: 0 25% 0 14%;
}

.category-article-title {
  /*font-size: 1.25em;*/
  margin: 5px auto;
  display: block;
}

.article-preview-container {
  display: block;
  width: 80%;
}

.category-article-preview {
  margin: 0 auto 15px auto;
}

.category-article-title a {
  color: #F15802;
  text-decoration: none;
}

.category-article-title a:hover {
  color: orange;
}

.page-container {
  margin: 0 auto;
  width: 80%;
}

.featured-article-container {
  /*background-color: #7C10AD;*/
  color: #1BA52C !important;
  padding: 0 5%;
}

.featured-link a {
  color: #1BA52C;
}

.featured-link a:hover {
  color: orange;
}

.category-list-container, .user-views, .compose-article, .article-box, .results {
  padding: 0 5%;
}

.profile-picture-container {
  border: 5px solid #F15802;
  border-radius: 2em;
  padding: 10px;
  width: 300px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.no-style-list {
  list-style-type: none;
}

.spooky {
  font-family: 'Creepster'
}
/*
.grid:after {
  content: "";
  display: table;
  clear: both;
}
*/

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

*/
