<div class="category-box">
  <h2><%= link_to category.name, category %></h2>
  <% category.articles.each do  |article| %>
      <%= article.title%>
      <span class="category-article-preview">Article stats go here.
      </span>
  <% end %>
</div>
