<div class="article-box">
	<span><h3><%= @category.name %></h3></span>	
	<ul>
		<% @articles.each do |article| %>
			<li><%= link_to article.title, article %></li>
  	<% end %>
	</ul> 
</div>	

<div class="featured-article">
	<span>
		<h3><%= @articles.first.title %></h3>
	</span>
	<div class="article-content"><%= @articles.first.body%></div>
</div>
