<!DOCTYPE html>
<html>
  <head>
    <title>Spookypedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <!-- Halloween countdown here -->
    <h1>Spookypedia!</h1>
    <!-- logged_in/logged_out link partials here -->
  </header>
  <body>
    <%= yield %>
  </body>
</html>
